body{
    position: absolute;
    top: 100px;
    left: 280px;
}

.employee-table{
    border: solid 2px;
    border-color: aliceblue;
    border-bottom-color: rgb(188, 198, 198);
    width: 1200px;
    height: 40px;
}

