<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytz.web.mapper.EmployeePositionMapper">

    <resultMap id="BaseResultMap" type="com.ytz.web.domain.EmployeePosition">
            <id property="positionId" column="position_id" jdbcType="INTEGER"/>
            <result property="positionName" column="position_name" jdbcType="VARCHAR"/>
            <result property="basicSalary" column="basic_salary" jdbcType="DOUBLE"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        position_id,position_name,basic_salary,
        create_date,update_date
    </sql>
</mapper>
