<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytz.web.mapper.NetStationMapper">

    <resultMap id="BaseResultMap" type="com.ytz.web.domain.NetStation">
            <id property="station_id" column="station_id" jdbcType="INTEGER"/>
            <result property="station_name" column="station_name" jdbcType="VARCHAR"/>
            <result property="station_address" column="station_address" jdbcType="VARCHAR"/>
            <result property="admin_name" column="admin_name" jdbcType="VARCHAR"/>
            <result property="admin_username" column="admin_username" jdbcType="VARCHAR"/>
            <result property="admin_password" column="admin_password" jdbcType="VARCHAR"/>
            <result property="admin_phone" column="admin_phone" jdbcType="VARCHAR"/>
            <result property="admin_sex" column="admin_sex" jdbcType="TINYINT"/>
            <result property="admin_type" column="admin_type" jdbcType="TINYINT"/>
            <result property="order_amount" column="order_amount" jdbcType="INTEGER"/>
            <result property="is_pass" column="is_pass" jdbcType="TINYINT"/>
            <result property="create_date" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="update_date" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        station_id,station_name,station_address,
        admin_name,admin_username,admin_password,
        admin_phone,admin_sex,admin_type,
        order_amount,is_pass,create_date,
        update_date
    </sql>
</mapper>
