<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytz.web.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.ytz.web.domain.User">
            <id property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="user_username" column="user_username" jdbcType="VARCHAR"/>
            <result property="user_password" column="user_password" jdbcType="VARCHAR"/>
            <result property="user_sex" column="user_sex" jdbcType="TINYINT"/>
            <result property="user_phone" column="user_phone" jdbcType="VARCHAR"/>
            <result property="create_date" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="update_date" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_username,user_password,
        user_sex,user_phone,create_date,
        update_date
    </sql>
</mapper>
